@import 'tailwindcss';

@theme {
  --color-musi-gold: #b18e36;
  --color-musi-green: #36b151;
  --color-musi-blue: #3659b1;
  --color-musi-red: #b13696;

  --animate-wiggle: wiggle 0.1s ease-in-out 5;

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

html, body, #app, main {
  @apply h-full;
}
main {
  @apply flex flex-col;
}

.small-caps {
  font-variant-caps: small-caps;
}

.btn {
  @apply inline-block text-center cursor-pointer bg-transparent font-semibold py-2 px-4 border rounded-sm;
}
.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}
.btn:hover:not(:disabled) {
  @apply shadow-sm;
}
.btn-blue:not(.btn-solid) {
  @apply text-musi-blue border-musi-blue;
}
.btn-blue.btn-solid {
  @apply text-white bg-musi-blue;
}
.btn-blue:hover {
  @apply shadow-musi-blue;
}
.btn-green:not(.btn-solid) {
  @apply text-musi-green border-musi-green;
}
.btn-green.btn-solid {
  @apply text-white bg-musi-green;
}
.btn-green:hover {
  @apply shadow-musi-green;
}
.btn-red:not(.btn-solid) {
  @apply text-musi-red border-musi-red;
}
.btn-red.btn-solid {
  @apply text-white bg-musi-red;
}
.btn-red:hover {
  @apply shadow-musi-red;
}
.btn-gold:not(.btn-solid) {
  @apply text-musi-gold border-musi-gold;
}
.btn-gold.btn-solid {
  @apply text-white bg-musi-gold;
}
.btn-gold:hover {
  @apply shadow-musi-gold;
}

.input {
  @apply flex md:inline-flex flex-col md:items-start;
}
.input-label {
  @apply text-sm font-medium text-slate-700;
}
.input-textarea {
  @apply min-w-72 px-2 py-1 border border-slate-300 rounded-md text-sm shadow-xs focus:outline-hidden focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}
.input-textarea:disabled {
  @apply bg-gray-200
}
.input-text {
  @apply min-w-72 px-2 py-1 border border-slate-300 rounded-md text-sm shadow-xs focus:outline-hidden focus:border-sky-500 focus:ring-1 focus:ring-sky-500;
}
.input-text:disabled {
  @apply bg-gray-200
}
.input-text:invalid {
  @apply border-musi-red text-musi-red focus:ring-musi-red;
}

.input-select {
  @apply min-w-72 px-3 py-1.5 border border-gray-300 rounded-sm text-sm transition ease-in-out focus:border-blue-600;
}

.nav-container {
  @apply flex flex-row flex-wrap items-center list-none;
}
.nav-item {
  @apply block text-sm cursor-pointer border-b-2 border-transparent px-6 py-3 mt-2 hover:bg-gray-100;
}
.nav-item.active {
  @apply border-blue-500;
}

.sortable-ghost {
  opacity: 0.4;
}
