@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

#main {
  @apply flex flex-col h-full;
}

.btn {
  @apply inline-block text-center cursor-pointer bg-transparent font-semibold py-2 px-4 border rounded;
}
.btn:hover {
  @apply shadow;
}
.btn-blue:not(.btn-solid) {
  @apply text-blue-700 border-blue-500;
}
.btn-blue.btn-solid {
  @apply text-white bg-blue-700;
}
.btn-blue:hover {
  @apply shadow-blue-500;
}
.btn-gold:not(.btn-solid) {
  @apply text-gold border-gold;
}
.btn-gold.btn-solid {
  @apply text-white bg-gold;
}
.btn-gold:hover {
  @apply shadow-gold;
}

#notification-area {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

#notification-area > div {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
